# Configurações do Kommo CRM
KOMMO_TOKEN=
KOMMO_SUBDOMAIN=gustavoligavitoriacom
KOMMO_STAGE_TRANSMISSAO=109093615
KOMMO_PIPELINE_ID=14131759

# Configurações de Planos (Airtable)
AIRTABLE_TOKEN=

# Configurações de SMS (Comtele)
SMS_API_KEY=

# Ignorar validação de SMS nos testes (true / false)
SKIP_SMS_VERIFICATION=true

# Porta do Servidor Local
PORT=3000
